[blog]
# hugo的根目录
hugo_path=/Users/kid/tangf/SevenBook/site

# 博客的文章根目录
path=/Users/kid/tangf/SevenBook/site/content/post

# 新建博客是否打开,使用系统默认此文件的打开方式
open_auto=false

# 远程服务器地址
host=root@sbk
# 远程服务器的博客目录
host_path=/data/SevenBook/site

# sonic的索引创建
# 内容介绍： https://www.7benshu.com/post/2020/08/05-1/
# 开源地址： https://github.com/tangfei-china/hugo-search-fast
# 详细的介绍和使用请看上两个链接
# 是否开启sonic搜索,默认关闭
sonic_enabled=false
# 索引创建执行文件
sonic=/Users/kid/tangf/SevenBook/site/sonicIndex/search_index
# 索引创建配置文件
sonic_conf=/Users/kid/tangf/SevenBook/site/sonicIndex/conf.yaml